@import url(http://weloveiconfonts.com/api/?family=maki);

/* maki */
[class*="maki-"]:before {
  font-family: 'maki', sans-serif;
}

table.enchantillon {
	font-size: 10pt;
	border: 1px solid #fff;
    box-shadow: 0px 1px 7px #ccc;
}
table.enchantillon  thead, table.enchantillon tfoot{

	font-family: 'Arial Narrow', sans-serif;
	background-color: #1f1f1f;
	color: #fff;
}

table.enchantillon  thead tr:first-child {
	text-transform: uppercase;
}

table.enchantillon thead th,
table.enchantillon tfoot th {
	text-align: center;
	font-weight: normal;
	vertical-align: middle;
	font-size: 10pt;
	border: 1px solid #696969;
}
table.enchantillon  thead tr th {
	background: #333;
}

table.enchantillon  thead tr:first-child th
 {
	background: #1f1f1f;
}


table.enchantillon  tfoot tr:first-child th
 {
	color: #111;
	background: #00adef;
	border-color: #429ec1;
}

table.enchantillon  tbody td {
	text-align: center;
}

table.enchantillon  tbody td:first-child {
	width: 180px;
	text-align: left;
}

table.enchantillon  tbody td:nth-child(1),
table.enchantillon  tbody td:nth-child(5),
table.enchantillon  tbody td:nth-child(8)  {
	border-right: 1px solid #a4a4a4;
}

table.enchantillon thead th span {
	color: #999;
	font-size: 12pt;
}
table.enchantillon thead tr:nth-child(2) th {
	padding-left: 15px;
}
table.enchantillon thead th .sorter {
	position: absolute;
    margin-left: -10px;
    color: #00adef;
}

table.enchantillon  td small, table.enchantillon  th small {
	color: #00adef;
}

table.enchatillon .selection-row th small {
	color: #555;
}