@import url(http://weloveiconfonts.com/api/?family=entypo);

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}


html, body {
	min-height: 100%;
	background: #fbfbfb;
}

.switch {
		position: relative;
		display: inline-block;
		width: 40px;
		height: 25px;
		margin-bottom: -7px;
		font-weight: 700;
		margin-left: 5px;
		margin-right: 5px;
	}

	.switch input {display:none;}

	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #ccc;
		-webkit-transition: .4s;
		transition: .4s;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 20px;
		width: 20px;
		left: 3px;
		bottom: 4px;
		top: 2px;
		background-color: white;
		-webkit-transition: .4s;
		transition: .4s;
	}

	input:checked + .slider {
		background-color: #00adef;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px #00adef;
	}

	input:checked + .slider:before {
		-webkit-transform: translateX(14px);
		-ms-transform: translateX(14px);
		transform: translateX(14px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 34px;
	}

	.slider.round:before {
		border-radius: 50%;
}

body {
	font-family: 'Arial', sans-serif;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
	position: relative;
	min-height: 1px;
	padding-right: 2.5px;
	padding-left: 2.5px;
}

.navmenu-default {
	width: 250px;
}

.submenu-nav {
	margin-left: -5px;
}

.submenu-nav-container {
	display: none;
}

.submenu-nav li {
	padding: 5px;
	transition: 0.5s;
	padding-left: 30px;
	font-size: 10pt;
	color: #999;
	border-left: 2px solid #666;
	list-style-type: none;
	cursor: pointer;
}
.submenu-nav li a {
	text-decoration: none;
	color: #999;
}

.submenu-nav li:hover a, .submenu-nav li.active a {
	color: #fff
}

.submenu-nav li.active {
	color: #fff;
	border-left: 2px solid #00adef;
}
.submenu-nav li:hover, .submenu-nav li.active:hover {
	color: #fff;
	border-left: 2px solid #fff;
}
.main-content-view {
	margin-top: 15px;
	padding: 0px 15px;
	height: 100%;
}

.perimeter-selections, .main-content-view {
	 max-width: 95em;
}

.menu-toggle, .type-toggle {
	cursor: pointer;
	background-color: none;
	border: none;
	font-size: 18pt;
	padding: 10px 20px;
	float: left;
}

.left-menu-toggle {
	float: left;
}

.right-menu-toggle {
	float: right;
}

.user-menu-toggle {
	float: right;
	font-size: 12pt;
	padding: 15px;
}

.logout-toggle {
	float: right;
	font-size: 12pt;
	padding: 15px;
}

.c-margin-left {
	margin-left: 250px;
}

.app-title {
	text-align: center;
	padding-bottom: 15px;
}

/*.app-title {
	margin: 15px 0;
	display: inline-block;
	padding-top: 3px;
}*/

.navmenu-default, .navbar-default {
	transition: 0.5s;
}

.navmenu-default.not-expanded {
	opacity: 0;
	width: 0px;
}

.toggle-label {
	font-size: 14px;
	color: #ddd;
}

.main-content {
	margin-top: 50px;
	padding: 0px 15px;
	transition: 0.5s;
	height: 100%;
}

.main-subheading {
	background: #ececec;
	margin: 0px -15px;
	padding: 10px 15px;
	color: #1f1f1f;
	min-height: 50px;
	box-shadow: 0px 0px 3px #a5a2a2;
}

.subheading-title {
	color: #ccc;
	font-size: 14pt;
}

.perimeter-selections {
	color: #1f1f1f;
	font-size: 9pt;
	padding: 0 5px;
}

.perimeter-selections span{
	margin: 0 5px 0 0;
}

.perimeter-selections .period {
	margin-left: 15px;
}
.car-type-selection {
	display: block;
	font-size: 16pt;
	font-weight: light;
	float: left;
	padding: 10px 15px;
	color: #97a5ab;
}

.car-type-selection i {
	color: #fff;
	font-size: 13pt;
}

.dash-panel {
	margin: 7px 5px;
	background: #fff;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.17);
}

.dash-title-help {
	float: right;
	color: #ccc;
}

.dash-title-help a {
	color: #ccc;
} 
.dash-body {
	padding: 10px 15px;
	min-height: 260px;
}

.dash-title {
	padding: 20px;
	color: #333333;
	font-size: 13pt;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Arial Narrow', sans-serif
}

#scoreISC, #scoreNPS {
	position: absolute;
	top: 35px;
	font-size: 28pt;
	left: 0;
	right: 0;
	margin: 0 auto;
	text-align: center;
}

#scoreISC small, #scoreNPS small {
	font-size: 12pt;
	text-transform: uppercase;
}
.isc-comparison {
	padding-top: 5px;
	padding-left: 8px;
}

.isc-comparison-desc {
	padding: 5px;
	color: #8c8787;
	font-size: 8pt;
	line-height: 11pt;
}

.isc-comparison-score {
	font-size: 12pt;
	line-height: 26pt;
	text-align: right;
}

.isc-comparison-score small {
	text-transform: uppercase;
	font-size: 8pt;
}

.isc-comparison-trend {
	font-size: 12pt;
}

.isc-comparison-trend.trend-down {
	color: #e40000;
}

#toggleISCComparison{
	background-color: #333333;
	border: none;
	padding: 8px 10px;
	border-radius: 0px;
	margin-top: 8px;
	width: 100%;
	color: #fff;
}

.nps-comparison{
	background: #fbfbfb;
	margin: 0 10px;
}

.nps-comparison-bar{
	text-align: center;
	margin-top: 20px;
}
.nps-comparison-score {
	color: #787474;
	font-size: 12pt;
	font-weight: bold;
}

.nps-comparison-score:nth-child(2){
	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
}
.nps-comparison-score small {
	font-size: 10pt;
	font-weight: normal;
	display: block;
	}

.rank-point-diff {
	font-size: 10pt;
	float: right;
}
.verbatim {
	width: 100%;
	margin-bottom:2px;
	transition: 0.5s;
}
.verbatim-head {
	text-align: center;
	width: 18%;
	float: left;
	height: 100%;
	margin: 0px;
	padding: 5px;
	color: #8d8c8c;
	font-size: 14px;
}
.verbatim-head span{
	font-size: 7pt;
	color: #00adef;
}

.verbatim-head img {
	display: none;
}
.verbatim-body {    
	padding: 5px;
	float: left;
	font-size: 10pt;
	padding-left: 15px;
	width: 80%;
	padding: 10px;
	box-shadow: 0px 1px 3px #ccc;
	border-radius: 5px;
	width: 80%;
	float: right;
	/* text-overflow: ellipsis; */
	/* transition: 0.5s; */
	background-color: rgba(255,255,255, 0.5);
}
.verbatim-subject {
	font-weight: bold;
}

#iscComparisonRow {
	
}

.weakness-strength-title {
	font-size: 10pt;
	padding: 5px;
	margin: 0 2px;
	background: #e0e0e0;
	color: #fff;
}

.weakness-strength-title.strength {
	background: #006633;
}

.weakness-strength-title.improve {
	background: #66CC99;
}

.weakness-strength-title.weakness {
	background: #993333;
}

.weakness-strength ul li {
	margin: 4px 2px;
	padding: 8px 15px;
	background: #f8f8f8;
	list-style-type: none;
	margin-left: -38px;
	transition: 0.5s;
	font-size: 10pt;
	cursor: pointer;
}

 .weakness-strength ul li .fa-star {
	color: #fdd768;
	float: right;
	text-shadow: 0px -1px 1px #aaa;
	font-size: 13pt;
}

.weakness-strength ul li:hover {
	background: #ddd;
}

.weakness-strength ul li.strategic {
	font-weight: bold;
}

#topflopTopGraph, #topflopFlopGraph {
	height: 200px;
	margin-top:-5px;
}

.factors-legend i, .strategic i{
	color: #fdd768;
}

.factors-legend{
	font-size: 10pt;
	font-weight: normal;
	float: right;
	padding-right: 11px;
}
#scoreISCRing{
	width: 150px;
	margin: -30px auto -10px;
}

#scoreNPSRing{
	width: 150px;
	margin: -30px auto 0px;
}

.scrollable-block{
	height: 200px;
	overflow-y: auto;
	overflow-x: hidden;
	padding: 5px 0 0;
	margin-top: -20px;
}

.topflop-legend p{
	text-align: center;
	font-size: 12px;
	margin-top: 5px;
}

.legend-label{
	color: #999;
	z-index: 999;
	position: absolute;
	top: 60px;
	font-size: 12px;
	right: 440px;
}

.link{
	font-size: 12px;
	color:#00adef;
	float: right;
	margin-top: 10px;
}
.link:hover{
	text-decoration: none;
	font-weight: bold;
}

::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 3px;
}
::-webkit-scrollbar-thumb {
	border-radius: 4px;
	background-color: rgba(0,0,0,.5);
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

.highcharts-axis-labels{
	width: 60px !important;
}

.popover{
	width: 180px;
	color: #333;
}

#popoverData{
	color: #ddd;
}

.alertants{
	padding: 10px 0 5px; 
}

.alertants strong{
	margin-right: 20px;
}

.alertant-bar .progress{
	background: #000;
}

.progress{
	height: 30px;
	border-radius: 0px !important;
	width: 100%;
}

.progress-bar{
	background-color: #00adef;
	animation-name: fillUpAnimation;
	animation-duration: 3s;
}

@keyframes fillUpAnimation {
	from {width: 0px;}
	to {width:;}
}

.clients-to-contact-bar {
	margin-top: 55px;
}

.form-control {
	border-radius: 0px;
}

.perimeter-opts {
	min-width: 200px;
}

#loadingIndicator {
	height: 100%;
	padding: 5%;
}

.national-score{
	margin-top: -25px;
	margin-left: 4px;
	margin-right: 4px;
	background: #eee;
	padding: 5px 10px;
	margin-bottom: 5px;
}

.national-score p{
	margin-bottom:0;
}

.alertants-panel table td{
	padding: 10px 0;
}

.calendar-table thead tr:nth-child(2){
	display: none;
}

.calendar-table tbody {
	display: none;
}

.calendar .input-mini.form-control, .calendar .fa-calendar {
	visibility: hidden;
}


.btn-circle {
	border-radius: 50%!important;
	height: 30px;
	width: 30px;
	text-align: center;
	padding: 2px;
}

.modal-xl {
	width: 95%;
	height: 100%;
}

