/*#appLogo {
    width: 35px;
    margin: 12px 5px 12px 15px;
}

#appPlatformTitle {
    font-size: 13pt;
    text-transform: uppercase;
    color: #fff;
    position: relative;
    top: 3px;
}
*/

#appLogo {
	width: 35%;
	margin: 15px 32.5%
}

#appPlatformTitle {
	font-size: 13pt;
	text-transform: uppercase;
	color: #fff;
}
.navbar-default{
	background: #333333;
	border: none;
	color: #fff;
}
.navmenu-default{
	background: #1f1f1f;
	border: none;
	color: #fff;
	transition: 0.5s;
	-webkit-box-shadow: 1px 1px 5px 0.5px rgba(0,0,0,0.19);
	-moz-box-shadow: 1px 1px 5px 0.5px rgba(0,0,0,0.19);
	box-shadow: 1px 1px 5px 0.5px rgba(0,0,0,0.19);
}

.nav.navbar-nav {
	text-transform: uppercase;
	font-size: 9pt;
	font-family: "Arial Narrow", arial, sans-serif;
}

.navmenu-default .navmenu-nav>li>a, .navbar-default .navbar-offcanvas .navmenu-nav>li>a {
	color: #fff;
	font-size: 10pt;
	border: 1px solid #303030;
	transition: 0.5s;
	padding: 12px 15px;
}

.navmenu-default .navmenu-nav>li>a i {
	width: 36px;
	font-size: 16px;
	text-align: center;
	margin-right: 4px;
}

.navmenu-default .navmenu-nav>li>a:hover, .navbar-default .navbar-offcanvas .navmenu-nav>li>a:hover {
	color: #dedede;
	background-color: #213b48;
}
.navmenu-default .navmenu-nav>.active>a, .navbar-default .navbar-offcanvas .navmenu-nav>.active>a, .navmenu-default .navmenu-nav>.active>a:hover, .navbar-default .navbar-offcanvas .navmenu-nav>.active>a:hover, .navmenu-default .navmenu-nav>.active>a:focus, .navbar-default .navbar-offcanvas .navmenu-nav>.active>a:focus {
	color: #fff;
    background-color: #333333;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
	color: #dedede;
	background-color: #213b48;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
	color: #fff;
	background-color: #213b48;
	border-bottom: 4px solid #00adef;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	color: #dedede;
	background-color: #213b48;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a {
	border-right: 1px solid #4e4e4e;
	color: #fff;
}
.menu-toggle,.type-toggle {
	border-right: 1px solid #4e4e4e;
	padding: 15px 20px;
	transition: 0.5s;
	font-size: 14px;
}
.menu-toggle:hover ,.type-toggle:hover{
	background-color: #213b48;
}


@media screen (min-width: 320px) and (max-width: 480px){
	#appLogo {
		width: 35%;
		margin: 15px 32.5%
	}

	#appPlatformTitle {
		font-size: 13pt;
		text-transform: uppercase;
		color: #fff;
	}
}

.btn-default {
	transition: 0.8s;
}
.btn-default:hover {
	background: #aaa;
}

.alertants {
	padding: 5px;
}
.alertants-number {
	float: left;
	font-size: 11pt;
	font-weight: bold;
	margin-left: 10px;
}

.alertants-number img {
	margin-top: -5px;
}

.alertants-description {
	padding-left: 55px;
    font-size: 10pt;
}

.btn {
	border-radius: 0px;
}