.ranking-widget {
	width: 70%;
	height: 202px;
	margin-left: 5px;
	margin-right: 10px;
	border-right: 1px solid #ddd;
}

.rank{
	margin-bottom: -13px;
	margin-left: -5px;
}
.rank img{
	width: 60px;
	height: 60px;
	margin-top: -50px;
}

.rank span{
	font-weight: normal;
	font-size: 50pt;
}
.ranking-value small {
	margin-top: 10px;
	font-size: 18px;
}

.ranking-subtitle {
	font-size: 15pt;
	margin-top: -15px;
}

.ranking-bar-bars {
	width: 75%;
	float: left;
}

.ranking-bar-pointer{
	font-size: 18pt;
}

.ranking-bar-tier {
	height: 65px;
	background: #ccc;
}

.ranking-bar-tier.tier-1 {
	background: #006633;
}

.ranking-bar-tier.tier-2 {
	background: #66CC99;
}

.ranking-bar-tier.tier-3 {
	background: #cc3333;
}

.ranking-bar-tier.tier-4 {
	background: #cc3333;
}

.ranking-comparison{
	background: #fbfbfb;
	padding: 20px 20px 10px;
	margin: 0 10px;
}

.ranking{
	padding-bottom: 10px;
}
.france-score {
	padding: 15px;
	background: #f7f7f7;
}

.france-score-score {
	font-weight: bold;
	font-size: 13pt;
	float: right;
}