.drawing-board h1 {
	font-size: 15pt;
	margin-bottom: 15px;
}

#questionSelectionList {
	min-width: 500px;
}

.division.step-1 {
	overflow-x: scroll;
}

#questionSelectionList .questions{
	margin-left: -10px;
}

#questionSelectionList ul.questions > li{
	padding: 10px;
	list-style-type: none;
	margin-left: -20px;
	font-weight: bold;
	font-size: 11pt;
	box-shadow: 0px 1px 3px #ddd;
}

#questionSelectionList ul.questions > li a {
	color: #222;
}

#questionSelectionList ul.questions > li a > .icon {
	color: #00adef;
	font-size: 15pt;
}
#questionSelectionList .sub-questions li {
	background: #fff;
	margin-bottom: 1px;
	margin-left: -40px;
	font-size: 10pt;
	color: #333;
	font-weight: normal;
	padding-left: 20px;
	cursor: pointer;
	transition: 0.3s;
}
#questionSelectionList .sub-questions li.active {
	background: #00adef;
	color: #fff;
	box-shadow: 0px 1px 2px #ccc;
}
#questionSelectionList .sub-questions li:hover {
	background: #e9e9e9;
}
#questionSelectionList .sub-questions li.active:hover {
	background: #00adef;
	color: #fff;
}

#questionSelectionList a:hover {
	text-decoration: none;
}

#questionSelectionList .sub-questions {
	display: none;
	margin: 5px 0px;
}

#questionSelectionList .sub-questions li {
	text-transform: lowercase;
	list-style-type: none;
	padding: 3px 5px;
}

#questionSelectionList .sub-questions li b {
	width: 44px;
	display: block;
	float: left;
	text-transform: uppercase;
	color: #888;
}


#questionSelectionList .sub-questions li.active b {
	color: #fff;
}

#questionSelectionList .title {
	font-size: 13pt;
	font-family: 'Arial Narrow',sans-serif; 
	padding: 5px;
	padding-left: 20px;
	background: #333;
	display: block;
	color: #fff;
	margin-bottom: 10px;
	text-transform: uppercase;
	text-shadow: 0px 0px 2px #000;
	height: 35px;
}

.subquestions-toggle {
	font-size: 9pt;
	float: left;
	cursor: pointer;
}

.ref-score, .cumu-score {
	float: right;
	margin: 0px 15px;
	color: #555;
	font-weight: bold;
	text-shadow: 0px -1px 2px #fff;
}

.active .ref-score, .active .cumu-score {
	color: #fff;
	text-shadow: 0px -1px 2px #000;
}

.title .ref-score, .title .cumu-score {
	color: #fff;
	text-shadow: 0px -1px 2px #000;
}
.graph-two {
	padding: 10px;
	background: #eee;
}

.drawing-board .division {
	transition: 0.6s;
}

.side-loading-indicator {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 999;
	width: 100%;
	height: 100%;
	overflow: visible;
}

.question-list-container {
	width: 100%;
	overflow-y: scroll;
}

.graph-one-tabs {
	padding: 0px;
	font-size: 13pt;
	font-family: 'Arial Narrow',sans-serif;
	background: #333;
	display: block;
	color: #fff;
	margin-bottom: 10px;
	text-transform: uppercase;
	text-shadow: 0px 0px 2px #000;
	min-height: 35px;
}

.graph-tabs {
	color: #fff;
	display: block;
	float: left;
	font-size: 10pt;
	padding: 7px;
	width: 25%;
	height: 100%;
	text-align: center;
	cursor: pointer;
	border-left: 1px #4e4e4e solid;
}

.graph-tabs.graph-tabs-active {
	background-color: #213b48;
	border-bottom: 3px solid #00adef
}

.graph-tabs:hover {
	color: #fff;
	background-color: #213b48;
	text-decoration: none;
}

.go-fullscreen {
	margin-right: 15px;
}

.leave-fullscreen {
	margin-right: 15px;
	display: none;
}

.graph-one-tab-selection {
	background: #333;
	width: 100%;
	cursor: pointer;
}

.graph-one-tab-selection td {
	padding: 7px;
	text-transform: uppercase;
	font-family: 'Arial Narrow',sans-serif;
}

.graph-one-tab-selection td a {
	color: #fff;
	text-decoration: none;
	text-align:  center;
}

.graph-one-tab-selection td.active-tab {
	background-color: #213b48;
	border-bottom: 4px solid #00adef;
}