.scores-table {
	border: 1px solid #fff;
	box-shadow: 0px 1px 7px #ccc;
}

.scores-table thead {
	font-size: 11pt;
	font-weight:normal;
	font-family: 'Arial Narrow', sans-serif;
	background-color: #1f1f1f;
	color: #fff;
}

.scores-table thead th {
	font-weight: normal;
}

.scores-table tfoot {
	font-size: 11pt;
	font-weight:bold;
	background-color: #1f1f1f;
	color: #fff;
}

.scores-table tfoot tr.selection {
	background-color: #00adef;
	color: #000;
}

.scores-table tfoot th {
	border: 1px solid #1f1f1f;
}

.scores-table tfoot tr.selection th {
	border: 1px solid #00adef;
}

.score-legend-container {
	padding-top: 5px;
	float: right;
}

.scores-table thead tr th  {
	padding: 15px 10px;
	vertical-align: middle;
}

.scores-table tbody tr td {
	padding: 10px 10px;
}
.scores-table .perimeter {
	width: 200px;
}

.scores-table .france-compare {
	width: 180px;
}

.isc-score {
	padding: 5px 10px;
	border-radius: 12px;
}

.score-score {
	padding: 5px 10px;
	border-radius: 3px;
}

.isc-score-green, .score-score-green {
	background: #50a279;
	color: #fff;
}

.isc-score-red, .score-score-red {
	background: #b12f2f;
	color: #fff;
}

.isc-score-perfect {
	background: #50a279;
	color: #fff;
}

.icon-count {
	float: left;
	text-align: right;
	width: 50%;
	padding: 2px;
}

.icon-icon {
	width: 50%;
	float: right;
	padding: 2px;
	text-align: left;
}

.icon-container {
	width: 100%;
}

ul.score-table-pagination {
	display: none;
}
ul.score-table-pagination li {
	list-style-type: none;
	display: inline;
	padding: 6px;
	margin: 2px;
}

ul.score-table-pagination li.active-page {
	background-color: #00adef;
	color: #fff;
	border-radius: 8px;
}

.progress-container {
	width: 100%;
	background: #f6f6f6;
}

.progress-behind {
	width:40%;
	float: left;
	border-right: 2px solid #bbb;
	height: 24px;
}

.progress-ahead {
	width:40%;
	float: right;
	border-left: 2px solid #bbb;
	height: 24px;
}

.progress-number {
	width: 20%;
	float:right;
	text-align: left;
	font-size: 9pt;
	padding: 5px;
}

.progress-behind-bar {
	background-color: #b12f2f;
	margin-top: 5px;
	height: 12px;
	box-shadow: 0px 1px 1px #444;
}

.progress-ahead-bar {
	background-color: #50a279;
	margin-top: 5px;
	height: 12px;
	box-shadow: 0px 1px 1px #444;
}

.score-table-exports {
	font-size: 10pt;
}

.excel-download {
	height: 30px;
}