#survey-detail {
	display: none;
	padding: 15px;
	/*box-shadow: 0px 0px 5px #888;*/
	background: #fff;
	color: #222;
}


.survey-detail {
	padding: 10px 30px;
	background: #fff;
	color: #111;
}

.survey-detail h4 {
	text-transform: uppercase;
	font-size: 12pt;
	color: #00adef;
}
.survey-detail h4 .fa {
	display: none;
}
.fa-no-star {
	width: 14px;
}

.survey-detail .fa-star{
	color: #e6b114;
}

#survey-detail .answer-section {
	padding-left: 25px;
}
#survey-detail table td.question-division {
	padding-left: 6%;
	background: #f4f4f4;
	border-bottom: 2px solid #ccc;
	font-weight:  bold;
	font-size: 10pt;
}

table img:parent {
	border: 1px solid red;
}

.answer-section table thead {
	background: #555;
			color: #fff;
			padding: 10px;
}

.answer-section table {
	font-size: 9pt;
}

.survey-detail .left-side table th {
	width: 45%;
}

.score-score {
	font-weight: bold;
	padding: 5px;
}

.score-green {
	background: green;
	color: #fff;
}

.score-red {
	background: red;
	color: #fff;
}

.establishment-info, .client-info-card {
	padding:  15px;
}

.estab-name {
	font-weight: bold;
	font-size: 13pt;
}

.client-info {
	padding: 5px;
}

.client-info-name {
	font-size: 13pt;
	font-weight: bold;
}

.client-status {
	padding: 15px;
	text-align: center;
}

.client-info-table, .establishment-info-table{
	font-size: 10pt;
}

.client-info-table  i.fa ,  .establishment-info-table i.fa  {
	width: 20px;
	font-size: 12pt;
	color: #888;
}
.answer-table-container {
}

#alert-treatment-panel {
	font-size: 10pt;
	padding: 8px;
	background-color: #f1f1f1;
}


.surveys-page .alert-status {
	background: #888;
	color: #fff;
	padding: 5px;
	width: 100px;
	text-align: left;
}

.surveys-page .alert-status .fa {
	padding: 2px;
	padding-right: 4px;
	font-size: 12pt;
}
.surveys-page .alert-status.open {
	background: #993333;
}

.surveys-page .alert-status.closed {
	background: #66CC99;
}

.surveys-page .alert-status.on-going {
	background: #00ADEF;
}

.alert-actions li {
	list-style-type: none;
	margin-left: -25px;
	margin-bottom: 5px;
}

#surveys-table .fa-sort {
	color: #00ADEF;
}

.history-card {
	background: #fff;
    padding: 5px;
    margin-bottom: 5px;

}