.score-card {
	padding: 5px;
	font-size: 10pt;
	margin-bottom: 5px;
}
.score-card-bar {
	height: 5px;
	background: #eee;
}

.score-card-bar-filled {
	height: 100%;
	animation-name: fillUpanimation;
	animation-duration: 2s;
}

.score-card-bar-filled.level-green {
	background-color: #006633;
}

.score-card-bar-filled.level-red {
	background-color: #993333;
}
.score-card-bar-filled.level-blue {
	background-color: #66CC99;
}


.score-card-score {
	float: right;
	font-weight: bold;
	cursor: pointer;
}

@keyframes fillUpanimation {
	from {width: 0px}
	to {}
}

#topFlopPanel .next-page, #topFlopPanel .prev-page {
	background: #333;
	color: #fff;
	padding: 2px;
	font-size: 9pt;
	cursor: pointer;
	transition: 0.3s;
	margin: 2px;
	text-align: center;
}

#topFlopPanel .next-page:hover ,#topFlopPanel .prev-page:hover {
	background: #213b48;
	color: #fff;
}

.unslider-nav {
	display: none;
}